.titles {
    margin-left: 15px;
}
.example-spacer {
    flex: 1 1 auto;
}
.employe{
    margin-right: 25px;
}
.main-body{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;
    mat-form-field{
        width: 100%;
    }

}