:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content{
    padding-top: 10px;
}
.row{
    display: flex;
    gap: 10px;
    mat-form-field{
        width: 100%;
    }
}
#row-gender{
    margin-top: 15px;
    margin-bottom: 25px;
}
.action{
    padding: 0px 25px 20px;
    button {
        display: flex;
        flex: auto;
    }
}